section.collections
  .container
    h2.title-h3.collections__title Trending Collection
    p.text-p1.collections__text Checkout our weekly updated trending collection.
    .collections__list
      - for (var x = 1; x < 4; x++)
        .collection
          .collection__images
            a(href="/single.html").collection__single
              +image('/img/collections/item-' + x + '-1').collection__img
            a(href="/single.html").collection__single
              +image('/img/collections/item-' + x + '-2').collection__img
            a(href="/single.html").collection__single
              +image('/img/collections/item-' + x + '-3').collection__img
            a(href="/single.html").title-h5.collection__more 1025+
          p.title-h5.collection__name DSGN Animals
          +user-card.collection__user