section.creators
  .container
    h2.title-h3.creators__title Top creators
    p.text-p2.creators__title Checkout Top Rated Creators on the NFT Marketplace

    .creators__list
      - for (var x = 1; x < 13; x++)
        .creator
          .creator__image
            p.text-p2.creator__number= x
            img.creator__img(src=`/img/avatars/item-${x}.png` alt='')
          .creator__content
            h4.title-h5.creator__name Keepitreal
            p.text-p2.creator__total Total Sales: <span>34.53 ETH</span>
