section.discover
  .container
    .discover__wrap
      .discover__header
        h2.title-h3.discover__title Discover More NFTs
        p.text-p2.discover__text Explore new trending NFTs
        button.btn.btn--outline.discover__btn
          i.icon-Storefront
          | View Rankings

      .discover__list
        - for (var x = 1; x < 4; x++)
          +nft-card(x)