section.section-base
  .container
    .section-base__wrap
      .section-base__content
        h1.title-h1.section-base__title
          | Discover digital art &amp; Collect NFTs
        p.text-p1.section-base__text
          | NFT marketplace UI created with Anima for Figma. Collect, buy and sell
          | art from more than 20k NFT artists.
        button.btn.btn-dark.section-base__btn Get Started
        .list.section-base__list
          .list__item
            h4.title-h4.list__title 240k+
            p.text-p1.list__text Total Sale
          .list__item
            h4.title-h4.list__title 100k+
            p.text-p1.list__text Auctions
          .list__item
            h4.title-h4.list__title 240k+
            p.text-p1.list__text Artists
      .section-base__image
        +img('/img/first-image', 'eager')(class="section-base__img")