section.highlight
  .container
    .highlight__wrap
      .highlight__content
        h2.title-h3.highlight__title Magic Mashrooms
        button.btn.highlight__btn See NFT

      include ../../components/time