section.highlight
  .container
    .highlight__wrap
      .highlight__content
        +user-card('black').highlight__user
        h2.title-h3.highlight__title Magic Mashrooms
        button.btn.btn--white.highlight__btn See NFT

      include ../../components/time