section.subscribe
  .container

    .subscribe__wrap
      .subscribe__image
        img(src="/img/subscribe-bg.jpg" alt="").subscribe__img

      .subscribe__content
        h3.title-h3.subscribe__title Join our weekly digest
        p.text-p1.subscribe__text Get exclusive promotions & updates straight to your inbox.

        +subscribe().subscribe__form