.collections {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 80px 0;
  }
}

.collections__text {
  margin-top: 10px;
}

.collections__list {
  margin-top: 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);

    margin-top: 60px;
  }
}

.collections__list .collection {
  @media (max-width: 1199px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.collection__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.collection__single,
.collection__more {
  transition: 0.3s all ease;

  &:hover {
    transform: scale($link-scale);
  }
}

.collection__single:first-child {
  grid-column: 1 / -1;
}

.collection__img {
  display: block;

  width: 100%;

  border-radius: $radius;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.collection__more {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: $radius;
  background-color: #a259ff;
}

.collection__name {
  margin-top: 15px;
}

.collection__user {
  margin-top: 10px;
}
