.creators {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 80px 0;
  }
}

.creators__wrap {
  display: grid;
}

.creators__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px 10px;

  @media (max-width: 767px) {
    display: contents;
  }
}

.creators__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (min-width: 768px) {
    align-self: flex-end;
    grid-column: 2 / -1;
    grid-row: 1 / 3;
  }

  @media (max-width: 767px) {
    order: 10;
    margin-top: 40px;
  }
}

.creators__btn i {
  color: $primary;
  transition: 0.3s all ease;
}

.creators__btn:hover i {
  color: $white;
}

.creators__list {
  display: grid;
  gap: 20px;

  margin-top: 40px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);

    margin-top: 60px;
  }
}
