.discover {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 80px;
  }
}

.discover__wrap {
  display: grid;
}

.discover__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px 10px;

  @media (max-width: 767px) {
    display: contents;
  }
}

.discover__btn {
  @media (min-width: 768px) {
    grid-row: 1 / 3;
    grid-column: 2 / -1;
    align-self: flex-end;
  }

  @media (max-width: 767px) {
    order: 10;
    margin-top: 40px;
  }
}

.discover__btn i {
  color: $primary;
  transition: 0.3s all ease;
}

.discover__btn:hover i {
  color: $white;
}

.discover__list {
  display: grid;
  gap: 20px 30px;

  margin-top: 40px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);

    margin-top: 60px;
  }
}
