.highlight {
  height: 100vh;
  height: 640px;
  min-height: 400px;
  padding: 60px 0;
  background-image: linear-gradient(to bottom, transparent, $primary),
    image-set(
      url('/img/highlight-bg.avif') type('image/avif'),
      url('/img/highlight-bg.webp') type('image/webp'),
      url('/img/highlight-bg.jpeg')
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.highlight .container {
  height: 100%;
}

.highlight__wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 295px;
    align-items: flex-end;
  }
}

.highlight__content {
  @media (max-width: 767px) {
    display: contents;
  }
}

.highlight__user {
  margin-bottom: 30px;
}

.highlight__title {
  margin-bottom: 30px;
}

.highlight__btn {
  @media (max-width: 767px) {
    order: 10;
    margin-top: 30px;
  }
}
