.highlight {
  height: 100vh;
  height: 640px;
  min-height: 400px;
  padding: 60px 0;

  background-image: linear-gradient(to bottom, transparent, $primary),
    url('/img/highlight.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.highlight .container {
  height: 100%;
}

.highlight__wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 295px;
    align-items: flex-end;
  }
}

.highlight__content {
  @media (max-width: 767px) {
    display: contents;
  }
}

.highlight__user {
  margin-bottom: 30px;
}

.highlight__title {
  margin-bottom: 30px;
}

.highlight__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (max-width: 767px) {
    order: 10;
    margin-top: 30px;
  }
}

.highlight__btn i {
  transition: 0.3s all ease;
  color: $primary;
}

.highlight__btn:hover i {
  color: $white;
}

.time {
  padding: 30px;

  border-radius: 20px;
  background: rgb(59 59 59 / 50%);
  backdrop-filter: blur(5px);
}

.time__text {
  margin-bottom: 10px;
}

.time__timer {
  display: flex;
  justify-content: center;
}

.time__value {
  margin-bottom: 5px;
}

.time__separator {
  margin-right: 10px;
  margin-left: 13px;
}
