.footer {
  background-color: #3b3b3b;
  color: #cccccc;
  padding: 40px 0px;
}

.footer__wrap {
  display: grid;
  gap: 30px;

  @media (min-width: 1200px) {
    grid-template-columns: min-content auto 1fr;
    gap: 84px;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.footer__title {
  color: $white;
}

.footer__text + .footer__text {
  margin-top: 20px;
}

.footer__copy {
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px solid #858584;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}
