.footer {
  padding: 40px 0;

  color: #ccc;
  background-color: #3b3b3b;
}

.footer__wrap {
  display: grid;
  gap: 30px;

  @media (min-width: 1200px) {
    grid-template-columns: auto auto 1fr;
    gap: 84px;
  }
}

.footer__logo {
  margin: -10px -10px 20px;
  padding: 10px;
  width: max-content;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.footer__title {
  color: $white;
}

.footer__text + .footer__text {
  margin-top: 20px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;

  @media (min-width: 1200px) {
    margin-top: 15px;
  }
}

.footer__link {
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
  transition: 0.3s all ease;

  @media (min-width: 1200px) {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
  }

  &:hover {
    color: $white;
  }
}

.footer__subscribe {
  margin-top: 20px;
}

.form-subscribe {
  position: relative;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form-subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.form-subscribe__icon {
  font-size: 20px;

  @media (min-width: 768px) {
    display: none;
  }
}

.footer__copy {
  margin-top: 30px;
  margin-bottom: 20px;

  border-top: 1px solid #858584;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.footer__social {
  color: #858584;
  transition: 0.3s color ease;

  &:hover {
    color: white;
  }
}
