.header {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $black;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 20px;

  @media (min-width: 1200px) {
    height: 100px;
    padding: 0 50px;
  }
}

.header__logo {
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;

  @media (min-width: 1200px) {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
  }
}

.header__btn {
  @media (max-width: 1200px) {
    margin-top: 20px;
  }
}

.header__mobile {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 1199px) {
    position: fixed;
    top: 54px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 300px;
    padding: 10px 30px 20px;
    transition: 0.3s transform ease;
    transform: scaleX(0);
    transform-origin: right;

    background-color: $black;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.header__mobile.active {
  transform: scaleX(1);
}

.header__burger {
  margin-right: -12px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  gap: 0 10px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.header-nav__link {
  padding: 12px 10px;
  transition: 0.3s color ease;
  font-weight: 600;
  color: $white;

  @media (max-width: 1199px) {
    margin-left: -10px;
    margin-right: -10px;
  }

  @media (min-width: 1200px) {
    padding: 12px 20px;
  }

  &:hover {
    color: rgba($white, 0.4);
  }

  &:focus-visible {
    border-radius: 3px;
    outline: 1px solid white;
    outline-offset: 3px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid white;
    outline-offset: 3px;
  }
}

.header-logo__icon {
  color: $primary;
}

.header-logo__text {
  white-space: nowrap;
  color: $white;
  font-weight: 700;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-btn__icon {
  font-size: 20px;
}
