.header {
  z-index: 10000;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: $black;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 54px;
  padding: 0 20px;

  @media (min-width: 1200px) {
    height: 100px;
    padding: 0 50px;
  }
}

.header__mobile {
  display: flex;
  align-items: center;
  gap: 60px;

  @media (max-width: 1199px) {
    position: fixed;
    top: 54px;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    max-width: 300px;
    padding: 10px 30px 20px;

    transition: 0.3s transform ease;
    transform: scaleX(0);
    transform-origin: right;

    background-color: $black;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.header__mobile.active {
  transform: scaleX(1);
}

.header__burger {
  @media (min-width: 1200px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  gap: 20px 50px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.header-nav__link {
  transition: 0.3s color ease;

  color: $white;

  &:hover {
    color: rgba($white, 0.4);
  }

  &:focus-visible {
    border-radius: 3px;
    outline: 1px solid white;
    outline-offset: 3px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid white;
    outline-offset: 3px;
  }
}

.header-logo__text {
  white-space: nowrap;

  color: $white;

  font-family: SpaceMono;
  font-weight: 700;
}
