.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $black;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 30px;

  @media (min-width: 1200px) {
    height: 100px;
    padding: 0 50px;
  }
}

.header__mobile {
  display: flex;
  align-items: center;
  gap: 60px;

  @media (max-width: 1199px) {
    position: fixed;
    top: 54px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 10px 30px 20px;
    background-color: $black;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s transform ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

.header__mobile.active {
  transform: scaleX(1);
}

.header__burger {
  @media (min-width: 1200px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  gap: 20px 50px;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.header-nav__link {
  color: $white;
  transition: 0.3s color ease;

  &:hover {
    color: rgba($white, 0.4);
  }

  & + & {
    // @media (min-width: 1200px) {
    //   margin-left: 50px;
    // }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo__text {
  color: $white;
  font-family: 'SpaceMono';
  font-weight: 700;
  white-space: nowrap;
}
