.section-base {
  padding: 40px 0;

  @media (min-width: $xl) {
    padding: 60px 0;
  }
}

.section-base__wrap {
  display: grid;
  align-items: center;
  gap: 40px;

  @media (min-width: $xl) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-base__image {
  @media (max-width: 1199px) {
    order: -1;
  }
}

.section-base__img {
  width: 100%;
}

.section-base__title {
  margin-bottom: 10px;

  @media (min-width: $xl) {
    margin-bottom: 20px;
  }
}

.section-base__btn {
  margin-top: 20px;

  @media (min-width: $xl) {
    margin-top: 40px;
  }
}

.section-base__list {
  margin-top: 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
