.creator {
  padding: 20px;
  border-radius: $radius;
  background-color: $bg;
  transition: 0.3s all ease;

  &:hover {
    transform: scale($link-scale);
  }

  @media (max-width: 1199px) {
    display: grid;
    grid-template-columns: 60px 1fr;

    align-items: center;
    gap: 20px;
  }

  @media (min-width: 1200px) {
    text-align: center;
  }
}

.creator__image {
  position: relative;

  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.creator__img {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  @media (min-width: 1200px) {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
  }
}

.creator__number {
  position: absolute;
  top: -7px;
  left: -8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  color: $text;
  border-radius: 50%;
  background-color: $black;

  @media (min-width: 1200px) {
    top: -2px;
    left: 0;
  }
}

.creator__name {
  margin-bottom: 5px;
}

.creator__info {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.creator__text {
  color: $text;
  white-space: nowrap;
}

.creator__price {
  white-space: nowrap;
}
