.user-card {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
}

.user-card--black {
  padding: 10px 20px;
  border-radius: $radius;
  background-color: $bg;
}

.user-card__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
