a {
  position: relative;
}

a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  background-color: blue;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.4) 0px,
    rgba(255, 0, 0, 0.4) 5px,
    rgba(255, 0, 0, 0.2) 5px,
    rgba(255, 0, 0, 0.2) 10px
  );
  outline: 2px solid red;
  border-radius: inherit;
}
button {
  position: relative;
}

button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  background-color: blue;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.4) 0px,
    rgba(0, 0, 255, 0.4) 5px,
    rgba(0, 0, 255, 0.2) 5px,
    rgba(0, 0, 255, 0.2) 10px
  );
  outline: 2px solid blue;
  border-radius: inherit;
}

// p {
//   position: relative;positionpositionpositionpositionpositionpositionpositionposition
// }

// p::after {
//   position: absolute;positionpositionpositionpositionpositionpositionpositionposition
//   top: 0;toptoptoptoptoptoptoptop
//   left: 0;leftleftleftleftleftleftleftleft
//   right: 0;rightrightrightrightrightrightrightright
//   bottom: 0;bottombottombottombottombottombottombottombottom
//   content: '';contentcontentcontentcontentcontentcontentcontentcontent
//   display: block;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//   background-color: blue;background-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-color
//   background: repeating-linear-gradient(
//     45deg,
//     rgba(0, 255, 0, 0.4) 0px,
//     rgba(0, 255, 0, 0.4) 5px,
//     rgba(0, 255, 0, 0.2) 5px,
//     rgba(0, 255, 0, 0.2) 10px
//   );backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//   border-radius: inherit;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   position: relative;positionpositionpositionpositionpositionpositionpositionposition
// }

// h1::after,
// h2::after,
// h3::after,
// h4::after,
// h5::after,
// h6::after {
//   position: absolute;positionpositionpositionpositionpositionpositionpositionposition
//   top: 0;toptoptoptoptoptoptoptop
//   left: 0;leftleftleftleftleftleftleftleft
//   right: 0;rightrightrightrightrightrightrightright
//   bottom: 0;bottombottombottombottombottombottombottombottom
//   content: '';contentcontentcontentcontentcontentcontentcontentcontent
//   display: block;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//   background-color: blue;background-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-color
//   background: repeating-linear-gradient(
//     45deg,
//     rgba(0, 255, 255, 0.4) 0px,
//     rgba(0, 255, 255, 0.4) 5px,
//     rgba(0, 255, 255, 0.2) 5px,
//     rgba(0, 255, 255, 0.2) 10px
//   );backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//   border-radius: inherit;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius
// }
