<header class="header">
  <div class="header__wrap">
    <a href="/" class="header-logo">
      <img class="header-logo__img" src="/img/logo.svg" alt="" />
      <p class="text-p1 header-logo__text">NFT Marketplace</p>
    </a>

    <nav class="header-nav">
      <a class="header-nav__link" href="/">Marketplace</a>
      <a class="header-nav__link" href="/about.html">Rankings</a>
      <a class="header-nav__link" href="/ui.html">Connect a wallet</a>
    </nav>

    <button class="btn">Sign Up</button>
  </div>
</header>
