// Inlcude fonts
@include font-face('SpaceMono', 'SpaceMono-Regular', 400);
@include font-face('SpaceMono', 'SpaceMono-Bold', 700);
@include font-face('WorkSans', 'WorkSans-Regular', 400);
@include font-face('WorkSans', 'WorkSans-Bold', 700);

// Main Fonts
.title-h1 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 38px;
    line-height: 1.2;
  }

  @media (min-width: 1200px) {
    font-size: 67px;
    line-height: 1.1;
  }
}

.title-h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 38px;
    line-height: 1.2;
  }

  @media (min-width: 1200px) {
    font-size: 51px;
    line-height: 1.1;
  }
}

.title-h3 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;

  @media (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.2;
  }
}

.title-h4 {
  font-family: "SpaceMono";
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;

  @media (min-width: 1200px) {
    font-size: 28px;
    line-height: 1.4;
  }
}

.title-h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;

  @media (min-width: 1200px) {
    font-size: 22px;
    line-height: 1.6;
  }
}

.text-p1 {
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: 1200px) {
    font-size: 22px;
    line-height: 1.6;
  }
}

.text-p2 {
  font-size: 16px;
  line-height: 1.4;
}

.text-p3 {
  font-size: 12px;
  line-height: 1.1;

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.4;
  }
}