body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding-top: 54px;

  color: $white;
  background-color: $black;

  font-family: 'WorkSans';
  font-size: 16px;
  line-height: 1.6;

  @media (min-width: 1200px) {
    padding-top: 100px;
  }
}

main {
  flex-grow: 1;
}

::selection {
  color: $black;
  background-color: $white;
}

.target-info {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;

  padding: 4px;

  color: #fff;
  background-color: green;

  font-size: 12px;
}
