html {
  scrollbar-color: $primary $white;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding-top: 54px;

  color: $white;

  font-family: WorkSans;
  font-size: 16px;
  line-height: 1.6;
  background-color: $black;

  @media (min-width: 1200px) {
    padding-top: 100px;
  }
}

main {
  flex-grow: 1;
}

::selection {
  color: $black;
  background-color: $white;
}
