body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'WorkSans';
  background-color: $black;
  color: $white;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 54px;

  @media (min-width: 1200px) {
    padding-top: 100px;
  }
}

main {
  flex-grow: 1;
}

::selection {
  background-color: $white;
  color: $black;
}

.target-info {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  font-size: 12px;
  background-color: green;
  color: #fff;
  padding: 4px;
}
