.section-form {
  display: grid;
  align-items: center;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-form__content {
  padding: 30px 20px 40px;

  @media (min-width: 768px) {
    max-width: 325px;
    padding: 40px;
  }

  @media (min-width: 1200px) {
    max-width: 460px;
    padding: 60px;
  }
}

.section-form__img {
  display: block;
}

.section-form__title {
  margin-bottom: 20px;
}

.section-form__text {
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__btn {
  margin-top: 15px;
}
