.index {
  padding: 40px;
}

.categories {
  margin: 40px 0;

  @media (min-width: 1200px) {
    margin: 80px 0;
  }
}

.categories__title {
  margin-bottom: 40px;

  @media (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @media (min-width: 360px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.category {
  overflow: hidden;
  background-color: #3b3b3b;
  border-radius: 20px;
}

.category__image {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    content: '';
  }
}

.category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);

  @media (min-width: 1200px) {
    width: 100px;
    height: 100px;
  }
}

.category__content {
  padding: 20px 20px 25px;

  @media (min-width: 1200px) {
    padding: 20px 30px 25px;
  }
}

.works {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 80px 0;
  }
}

.works__title {
  margin-bottom: 10px;
}

.works__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 30px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work {
  padding: 20px;
  text-align: center;
  background-color: #3b3b3b;
  border-radius: 20px;

  @media (min-width: 768px) {
    padding: 10px 20px 30px;
  }

  @media (min-width: 1200px) {
    padding: 10px 30px 30px;
  }
}

.work__img {
  margin-bottom: 20px;
}

.work__title {
  margin-bottom: 10px;
}

.work__text {
  text-wrap: balance;
}

.works__list {
  margin-top: 40px;

  @media (min-width: 1200px) {
    margin-top: 48px;
  }
}

.highlight {
  height: 100vh;
  padding: 60px 0;
  // background-color: red;
}

.subscribe {
}

.subscribe__wrap {
  margin: 40px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    padding: 40px 30px;
    margin-bottom: 80px;
    border-radius: 20px;
    background-color: #3b3b3b;
  }

  @media (min-width: 1200px) {
    gap: 80px;
    padding: 60px;
  }
}

.subscribe__img {
  border-radius: 20px;
}

.subscribe__title {
  margin-bottom: 10px;
}

.collections {
  padding: 40px 0;

  @media (min-width: 1200px) {
    padding: 80px 0;
  }
}

.collections__list {
  margin-top: 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
  }
}

.collections__list .collection {
  @media (max-width: 1199px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.collection__img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;

  &:first-child {
    grid-column: 1 / -1;
  }
}

.collection picture:first-child {
  grid-column: 1 / -1;
}

.collection__more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  border-radius: 20px;
}
