footer.footer
  .container
    .footer__wrap
      .footer__first
        a.header-logo.footer__logo(href='/')
          img.header-logo__img(src='/img/logo.svg' alt='')
          p.text-p1.header-logo__text NFT Marketplace
        p.text-p2.footer__text
        | NFT marketplace UI created with Anima for Figma.
        p.text-p2.footer__text
        | Join our community
        .footer__socials
          a(href="#").footer__social
            i.icon-DiscordLogo 
          a(href="#").footer__social
            i.icon-YoutubeLogo 
          a(href="#").footer__social
            i.icon-InstagramLogo 

      .footer__second
        h4.title-h5.footer__title Explore
        .footer__links
          a.text-p2.footer__link(href="/marketplace.html") Marketplace
          a.text-p2.footer__link(href="/rankings.html") Rankings
          a.text-p2.footer__link(href="/form.html") Connect a wallet

      .footer__third
        h4.title-h5.footer__title Join our weekly digest
        p.text-main.footer__text
        | Get exclusive promotions & updates straight to your inbox.

        +subscribe().footer__subscribe

    .footer__copy
    | Ⓒ NFT Market. Use this template freely.