header.header
  .header__wrap
    a.header-logo(href='/')
      i.icon-TrendUp.header-logo__icon
      p.text-p1.header-logo__text NFT Marketplace
    .header__mobile
      nav.header-nav
        a.header-nav__link(href='/marketplace.html') Marketplace
        a.header-nav__link(href='/ranking.html') Rankings
        a.header-nav__link(href='/form.html') Connect a wallet
        a.header-nav__link(href='/ui.html') UI
      button.btn.header-btn
        i.icon-User.header-btn__icon
        | Sign Up
    button.burger.header__burger
      span
      span
      span
