mixin timer(filter = false, btn = true)
  .timer(class=`${filter && 'timer--filter'}`)&attributes(attributes)
    p.text-p3.timer__title Auction ends in:

    .timer__timer
      .timer__item
        p.title-h3.timer__hour 59
        p.text-p3.timer__key Hours

      p.title-h4.timer__separator :

      .timer__item
        p.title-h3.timer__minute 59
        p.text-p3.timer__key Minutes

      p.title-h4.timer__separator :

      .timer__item
        p.title-h3.timer__second 59
        p.text-p3.timer__key Seconds

    if (btn)
      button.btn.timer__btn Place Bid