section.market-head
  .container
    h1.title-h2.market-head__title Browse Marketplace
    p.text-p1.market-head__text Browse through more than 50k NFTs on the NFT Marketplace.

    +search().market-head__search