- const tabs = [{ title: 'NFTs', count: '302' }, { title: 'Collections', count: '67' }]

section.market-list
  .container
    +tabs(tabs).ranking-list__tabs

  .market-list__content
    .container
      .market-list__wrap
        - for (var x = 1; x < 10; x++)
          +nft-card(x, 'black')