.form-search {
  position: relative;
}

.form-search input {
  background-color: transparent;
  border: 1px solid #3b3b3b;
  color: white;

  &:placeholder {
    color: #858584;
  }
}

.form-search {
  position: relative;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form-search__btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  color: white;
}

.form-search__icon {
  font-size: 24px;
  transition: 0.3s color ease;

  &:hover {
    color: #858584;
  }
}
