.form-search {
  position: relative;
}

.form-search input {
  color: white;
  border: 1px solid $bg;
  background-color: transparent;

  &:placeholder {
    color: $text;
  }
}

.form-search {
  position: relative;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form-search__btn {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;
  color: white;

  @media (min-width: 768px) {
    top: 12px;
    right: 12px;
  }
}

.form-search__icon {
  font-size: 24px;
  transition: 0.3s color ease;

  &:hover {
    color: $text;
  }
}
