link(rel="preload" href="/font/WorkSans/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin="")
link(rel="preload" href="/font/WorkSans/WorkSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin="")
link(rel="preload" href="/font/SpaceMono/SpaceMono-Regular.woff2" as="font" type="font/woff2" crossorigin="")
link(rel="preload" href="/font/SpaceMono/SpaceMono-Bold.woff2" as="font" type="font/woff2" crossorigin="")