include ../layouts/main

block content
  include ../sections/index/first
  include ../sections/index/collections
  include ../sections/index/creators
  include ../sections/index/categories
  include ../sections/index/works
  include ../sections/index/highlight
