.ranking-list {
  padding-bottom: 40px;
}

.ranking-list__tabs {
  @media (max-width: 768px) {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.ranking-list__table {
  margin-top: 40px;
}

.table__header,
.table__row {
  display: grid;
  grid-template-columns: 24px 24px 1fr 80px;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: 24px 24px 1fr repeat(2, 100px);
    gap: 15px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 30px 60px 1fr repeat(3, 145px);
  }

  @media (max-width: 359px) {
    grid-template-columns: 24px 24px 1fr 60px;
    gap: 8px;
  }
}

.table__header {
  margin-bottom: 20px;
  padding: 11px 9px;
  color: $text;
  border: 1px solid $bg;
  border-radius: $radius;
  background-color: $black;

  @media (min-width: 1200px) {
    padding: 12px 20px;
  }
}

.table__header > *:nth-child(2) {
  grid-column: span 2;
}

.table__row {
  padding: 12px 10px;
  border-radius: $radius;
  background-color: $bg;
  transition: 0.3s all ease;

  &:hover {
    transform: scale($link-scale);
  }

  @media (min-width: 768px) {
    padding: 12px 20px;
  }
}

.table__row + .table__row {
  margin-top: 20px;
}

.table__avatar {
  display: block;
  border-radius: 50%;
}

.table__percent {
  color: #00ac4f;
}

.table__header > *:first-child,
.table__row > *:first-child {
  text-align: center;
}

.table__header > *:nth-last-child(2),
.table__row > *:nth-last-child(2) {
  @media (max-width: 768px) {
    display: none;
  }
}

.table__header > *:nth-last-child(1),
.table__row > *:nth-last-child(1) {
  @media (max-width: 1199px) {
    display: none;
  }
}
