section.artist-collection
  .container
    ul.artist-collection__list
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/distant-galaxy.png", alt="distant-galaxy")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title Distant Galaxy
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest Bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/life-on-edena.png", alt="life-on-edena")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title Life On Edena
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest Bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/astrofiction.png", alt="astrofiction")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title AstroFiction
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest Bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/cryptocity.png", alt="cryptocity")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title CryptoCity
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest Bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/colorfuldog.png", alt="colorfuldog")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title ColorfulDog 0524
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest Bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/space-tales.png", alt="space-tales")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title Space Tales
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/cherry-blossom-girl.png", alt="cherry-blossom-girl")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title Cherry Blossom Girl 037
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/dancing-robots.png", alt="dancing-robots")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title Dancing Robots 0987
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
      li.artist-collection__item
        a.artist-collection__card-link(href="#")
          img.artist-collection__card-image(src="/img/collections/icecream-ape.png", alt="icecream-ape")
          .artist-collection__card-info
            h5.title-h5.artist-collection__card-title IceCream Ape
            .artist-collection__card-profile
              img.artist-collection__card-avatar(src="/img/avatars/animakid-icon.jpg", alt="animakid-icon")
              span.artist-collection__card-name Animakid
            .artist-collection__card-data
              .artist-collection__card-price
                span.artist-collection__card-price-title Price
                span.text-p3.artist-collection__card-price-value 1.63 ETH
              .artist-collection__card-bid
                span.artist-collection__card-bid-title Highest bid
                span.text-p3.artist-collection__card-bid-value 0.33 wETH
