section.artist-info
  .container
    .artist-info__columns
      .artist-info__left-column
        h3.title-h2.artist-info__title Animakid
        ul.artist-info__list
          li.artist-info__item
            span.title-h4.artist-info__item-value 250k
            span.text-p1.artist-info__item-label Volume
          li.artist-info__item
            span.title-h4.artist-info__item-value 50+
            span.text-p1.artist-info__item-label NFTs Sold
          li.artist-info__item
            span.title-h4.artist-info__item-value 3000+
            span.text-p1.artist-info__item-label Followers
        .artist-info__bio
          h5.title-h5.artist-info__label Bio
          p.text-p1.artist-info__text The internet's friendliest designer kid.
        .artist-info__links
          h5.title-h5.artist-info__label Links
          ul.artist-info__socials-list
            li.artist-info__social-item
              a.artist-info__social-link(href="#")
                img.artist-info__social-image(src='/img/socials/globe.svg' alt='globe')
            li.artist-info__social-item
              a.artist-info__social-link(href="#")
                img.artist-info__social-image(src='/img/socials/discord.svg' alt='discord')
            li.artist-info__social-item
              a.artist-info__social-link(href="#")
                img.artist-info__social-image(src='/img/socials/youtube.svg' alt='youtube')
            li.artist-info__social-item
              a.artist-info__social-link(href="#")
                img.artist-info__social-image(src='/img/socials/twitter.svg' alt='twitter')
            li.artist-info__social-item
              a.artist-info__social-link(href="#")
                img.artist-info__social-image(src='/img/socials/instagram.svg' alt='instagram')
      .artist-info__right-column
        button.artist-info__copy-button
          img.artist-info__copy-image(src='/img/icons/copy.svg' alt='copy')
          | 0xc0E3...B79C
        button.artist-info__follow-button
          img.artist-info__follow-image(src='/img/icons/plus.svg' alt='plus')
          | Follow