section.artist-info
  .container
    .artist-info__wrap 
      .artist-info__image
        img(src="/img/artist-avatar.png" alt="").artist-info__img
      .artist-info__content
        h1.title-h2.artist-info__title Animakid
        .artist-info__btns
          button.btn 0xc0E3...B79C
          button.btn.btn--outline Follow

        ul.artist-info__list
          li.artist-info__item
            p.title-h4 250k+
            h5.text-p1 Volume
          li.artist-info__item
            p.title-h4 50+
            h5.text-p1 NFTs Sold
          li.artist-info__item
            p.title-h4 3000+
            h5.text-p1 Followers

        h4.title-h5s.artist-info__subtitle Bio
        p.text-p1.artist-info__text The internet's friendliest designer kid.
        h4.title-h5s.artist-info__subtitle Links
        .artist-info__socials
          a(href="#").artist-info__social
            i.icon-DiscordLogo 
          a(href="#").artist-info__social
            i.icon-YoutubeLogo 
          a(href="#").artist-info__social
            i.icon-InstagramLogo