- const tabs = [{ title: 'Created', count: '302' }, { title: 'Owned', count: '67' }, { title: 'Collection', count: '4' }]

section.market-list
  .container
    +tabs(tabs).ranking-list__tabs

  .market-list__content
    .container
      .market-list__wrap
        - for (var x = 1; x < 10; x++)
          +nft-card(x, 'black')