section.artist-tabs
  .container
    ul.artist-tabs__list
      li.artist-tabs__item.active
        h5.title-h5.artist-tabs__title Created
        span.text-p3.artist-tabs__value 302
      li.artist-tabs__item
        h5.title-h5.artist-tabs__title Owned
        span.text-p3.artist-tabs__value 67
      li.artist-tabs__item
        h5.title-h5.artist-tabs__title Collection
        span.text-p3.artist-tabs__value 4