mixin nft-card(x, color)
  a(href="/single.html").nft-card(class=`${color === 'black' && 'nft-card--black'}`)
    .nft-card__image
      +image(`/img/avatars/item-${x}`).nft-card__img
    .nft-card__content
      h4.title-h5.nft-card__title Distant Galaxy
      .nft-card__artist
        +image(`/img/avatars/item-${x}`).nft-card__avatar
        p.text-p2s.nft-card__text MoonDancer
      .nft-card__info
        .nft-card__price
          h4.text-p3s.nft-card__subtitle Price
          p.text-p2s.nft-card__value 1.63 ETH
        .nft-card__bit
          h4.text-p3s.nft-card__subtitle Highest Bid
          p.text-p2s.nft-card__value 0.33 wETH