include ../utils/image
include ../utils/input
include ../utils/tabs
include ../components/form/subscribe
include ../components/form/search
include ../components/card/user
include ../components/card/nft
include ../components/card/creator

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title NFT Marketplace
    link(rel="stylesheet" href="/main.css")
    meta(name="description" content="NFT Marketplace Description - test sity for develop start template")
    meta(property="og:title" content="OG NFT Marketplace Title")
    meta(property="og:description" content="OG NFT Marketplace Description")
    meta(property="og:image" content="/img/first-image.jpg")
    meta(name="theme-color" content="#000000")
  body
    include ../components/header

    main
      block content

    include ../components/footer

    script(src="/main.js") 