.timer
  p.text-p3.timer__title Auction ends in:

  .timer__timer
    .timer__item
      p.title-h3.timer__value 59
      p.text-p3.timer__key Hours

    p.title-h4.timer__separator :

    .timer__item
      p.title-h3.timer__value 59
      p.text-p3.timer__key Minutes

    p.title-h4.timer__separator :

    .timer__item
      p.title-h3.timer__value 59
      p.text-p3.timer__key Seconds

  button.btn.timer__btn Place Bid