.market-list {
  padding-top: 10px;
  border-top: 1px solid $bg;
}

.market-list__content {
  margin-bottom: 2px;
  padding: 40px 0;
  background-color: $bg;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.market-list__wrap {
  display: grid;
  gap: 30px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
