.market-list__content {
  padding: 40px 0;
  margin-bottom: 2px;
  background-color: #3b3b3b;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.market-list__wrap {
  display: grid;
  gap: 30px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
