{% import "image.njk" as macros %}

<div id="avatars" class="ui__content">
  <div class="ui__wrap">
    <h4 class="ui__caption">Avatars</h4>

    {% for i in range(1, 20) %}
    {{ macros.image('/img/avatars/item-' + i + '', 'avatar') }}
    {% endfor %}
  </div>
</div>
