<div id="buttons" class="ui__content">
  <div class="ui__wrap">
    <h4 class="ui__caption">Button</h4>

    {# {% for color in colors %}
    <button class="btn btn-{{ color }}">{{ color }}</button>
    {% endfor %} #}

    <button class="btn">Button</button>
  </div>
</div>
