<div id="text" class="ui__content">
  <div class="ui__wrap ui__wrap--column">
    <h4 class="ui__caption">Text</h4>

    <p class="title-h1">NFT Marketplace</p>
    <p class="title-h2">NFT Marketplace</p>
    <p class="title-h3">NFT Marketplace</p>
    <p class="title-h4">NFT Marketplace</p>
    <p class="title-h5">NFT Marketplace</p>
    <p class="text-p1">NFT Marketplace</p>
    <p class="text-p2">NFT Marketplace</p>
  </div>
</div>
