.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 9px 18px;
  transition: 0.3s all ease;
  text-align: center;
  color: $white;
  border-radius: 20px;
  background-color: $primary;
  border: 2px solid $primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;

  @media (min-width: 768px) {
    padding: 16px 34px;
  }

  &:hover {
    background-color: darken($primary, 5);
    border-color: darken($primary, 5);
    border-radius: darken($primary, 5);
  }

  &:focus-visible {
    outline: none;
    background-color: darken($primary, 5);
    border-color: darken($primary, 5);
    box-shadow: 0 0 0 6px rgba($primary, 0.25);
  }

  &:active {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
  }

  &:disabled {
    color: rgba($white, 0.3);
    background-color: rgba($primary, 0.3);
    border-color: rgba($primary, 0.3);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.btn__icon {
  font-size: 20px;
  transition: 0.3s all ease;
}

.btn--outline {
  background-color: transparent;

  &:disabled {
    color: rgba($white, 0.3);
    background-color: transparent;
    border-color: rgba($primary, 0.3);
  }
}

.btn--outline .btn__icon {
  color: $primary;
}

.btn--outline:hover .btn__icon {
  color: $white;
}

.btn--white {
  background-color: $white;
  border-color: $white;
  color: $black;

  &:hover,
  &:focus-visible {
    color: $white;
  }

  &:disabled {
    color: rgba($white, 0.3);
    background-color: $white;
    border-color: rgba($primary, 0.3);
  }
}
