$primary-btn-color: $primary;

.btn {
  display: inline-block;

  padding: 6px 12px;

  transition: 0.3s all ease;
  text-align: center;

  color: $white;
  border-radius: 6px;
  background-color: $primary-btn-color;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  &:hover {
    background-color: darken($primary-btn-color, 5);
  }

  &:focus-visible {
    outline: none;
    background-color: darken($primary-btn-color, 5);
    box-shadow: 0 0 0 6px rgba($primary-btn-color, 0.25);
  }

  &:active {
    background-color: darken($primary-btn-color, 10);
  }

  &:disabled {
    background-color: rgba($primary-btn-color, 0.3);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
