input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  // border: 1px solid #dee2e6;
  border-radius: 6px;
  transition: outline-color 0.4s ease-in-out, outline-offset 0.4s ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 2px;

  &:focus {
    outline: 2px solid $primary;
    outline-offset: 2px;
  }

  &:hover {
    outline: 2px solid rgba($primary, .8);
    outline-offset: 2px;
  }

  &:focus:hover {
    outline-offset: 4px;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.input.error .input__error {
  display: block;
}

.input.error .input__field {
  outline: 2px solid $danger;
  outline-offset: 2px;
}

.input .input__error {
  display: none;
  margin-top: 3px;
  font-size: 12px;
  color: $danger;
}
