input[role='switch'] {
  width: 32px;
  height: 16px;

  border-radius: 8px;

  &::after {
    width: 12px;
    height: 12px;

    transform: translate(calc(-50% - 8px), -50%);

    border-radius: 50%;
    background: #dfdfdf;
  }

  &:checked {
    background-color: $primary;
  }

  &:checked::after {
    transform: translate(calc(-50% + 8px), -50%);

    background: white;
  }

  &:disabled::after {
    background: rgba(#dfdfdf, 0.5);
  }
}
