{% import "image.njk" as macros %}

<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrap">
      <div class="subscribe__image">
        {{ macros.image('/img/subscribe-bg', 'subscribe__img') }}
        {# <img class="subscribe__img" src="/img/subscribe-image.png" alt="" /> #}
      </div>

      <div class="subscribe__content">
        <h1 class="title-h3 subscribe__title">Join our weekly digest</h1>
        <p class="text-p1 subscribe__text">
          Get exclusive promotions & updates straight to your inbox.
        </p>
        <button class="btn-main subscribe__btn"></button>
      </div>
    </div>
  </div>
</section>
